<%= form_with model: @article do |form| %>
  <div class="new-form">
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :author_nickname %><br>
      <%= form.text_field :author_nickname %><br>
      <% article.errors.full_messages_for(:author).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    
    <div>
      <% if article.article_picture.attached? %>
        <%= image_tag article.article_picture, style: "max-width: 200px; height: auto; display: block" %>
        <span>|</span>
        <%= link_to 'Remove Image',
          delete_image_article_url(image_id: article.article_picture.id),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'remove-upload'
        %>
        <span>|</span><br/>
      <% end %>
      <%= form.label :article_picture %><br>
      <%= form.file_field :article_picture, class:"custom-file-input" %><br>

      <% article.errors.full_messages_for(:article_picture).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    
    <div>
        <%= form.label :category %><br>
        <%= form.select :category, ['Makeup ideas', 'Beauty tips', 'Skincare tips'], selected: article.category %>
    </div>

    <div>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: article.status %>
    </div>
  
    <div class="nav-item">
      <%= form.submit %>
    </div>
  </div>
<% end %>
  