<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<%= render "header", article: @article %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<div class="main_container">
    <div class="row">
        <div class="col-md-8">
            <div class="tab" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#private" aria-controls="home" role="tab" data-toggle="tab">Private articles</a></li>
                    <li role="presentation"><a href="#archived" aria-controls="profile" role="tab" data-toggle="tab">Archived articles</a></li>
                </ul>
                
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="private">
                      <h2>Private articles:</h2>
                      <div class="article-list">
                        <% @articles.select{ |article| article.status == 'private' }.each do |article| %>
                            <div class="article-list-title">
                              <p><%= article.title %></p>
                              <div>
                                # <% if article.article_picture.attached? && article.article_picture.representable? %><br>
                                # <% else %>
                                    <img class="card-image" src="https://image-prod.iol.co.za/resize/610x61000?source=https://inm-baobab-prod-eu-west-1.s3.amazonaws.com/public/inm/glam/media/image/2020/05/28/48623012/Covidmakeup.jpg&operation=CROP&offset=0x0&resize=591x734"/>
                                # <% end %>
                              </div>
                              <br/>
                              <%= link_to "Read more", article %>
                            </div>
                        <% end %>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                      <div class="article-list">
                        <% @articles.select{ |article| article.status == 'archived' }.each do |article| %>
                            <div class="article-list-title">
                              <p><%= article.title %></p>
                              <div>
                                # <% if article.article_picture.attached? && article.article_picture.representable? %><br>
                                # <% else %>
                                    <img class="card-image" src="https://image-prod.iol.co.za/resize/610x61000?source=https://inm-baobab-prod-eu-west-1.s3.amazonaws.com/public/inm/glam/media/image/2020/05/28/48623012/Covidmakeup.jpg&operation=CROP&offset=0x0&resize=591x734"/>
                                # <% end %>
                              </div>
                              <br/>
                              <%= link_to "Read more", article %>
                            </div>
                        <% end %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pagination">
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails, previous_label: "<<", next_label: ">>" %>
</div>